# Core Web Framework
Flask

# Production WSGI Servers
waitress
gunicorn

# Database Adapter for PostgreSQL
psycopg2-binary

# For loading environment variables from .env file
python-dotenv

# Security, Hashing, and Token Generation
Werkzeug
itsdangerous

# AI SDKs for Chatbot Logic
google-generativeai
openai
groq

# For Rate Limiting with Redis in production
flask-limiter
redis
